{% extends "base.html" %}

{% block scripts %}
    <script src="/static/jquery.min.js"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src="/static/raphael.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
{% endblock %}

{% block content %}

<H2>Hi, {{ current_user.name }}! {{ header }}<H2>

{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }} 

{% endblock %}
