{% extends "base.html" %}

{% block content %}

<H2>Hi, {{current_user.name}}! A new relative? Or an old one, but suddenly raised
  from oblivion? Save all you know about this person, so that not to forget!<H2>

{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }} 
<!-- <form method="POST">
  {{ form.avatar.label}} {{form.avatar() }}<br>
  {{ form.name.label }} {{ form.name() }}<br>
  {{ form.surname.label }} {{ form.surname() }}<br>
  {{ form.second_name.label }} {{ form.second_name() }}<br>
  {{ form.sex.label }} {{ form.sex() }}<br>
  {{ form.b_date.label }} {{ form.b_date() }}<br>
  {{ form.alive.label }} {{ form.alive() }}<br>
  {{ form.d_date.label }} {{ form.d_date() }}<br>
  {{ form.submit.label }} {{ form.submit() }}<br>
</form> -->

{% endblock %}
