{% extends "base.html" %}
{% block content %}
<div class="person_name">
    <h2>{{ person.fullname() }}</h2>
</div>
{% if person.ava_id %}
    <div class"avatar">
        <a href="{{ url_for('main.show_photo',
       photo_id=person.ava_id)}}" target="_blank">
       <img src="{{ url_for('main.show_photo',
       photo_id=person.ava_id)|thumbnail('400x400')}}"></a>
    </div>
{% endif %}
<div class="yearsoflife">
    {{ person.years_of_life() }}
</div>
{% if person.description %}
    <div class="person_description">
        <p>{{  person.description }}</p>
    </div>
{% endif %}

<div class="photos" >
{% for photo in person.photos %}
  {% if photo.id != person.ava_id %}
       <a href="{{ url_for('main.show_photo_details',
       photo_id=photo.id)}}">
       <img src="{{ url_for('main.show_photo',
       photo_id=photo.id)|thumbnail('200x200')}}"></a>
  {% endif %}

{% endfor %}
</div>
<div class "addphoto">
    <a href="{{ url_for('main.photo_upload', person_id=person.id)}}">
        Add a photo
    </a>
</div>

<div class="addlegend">
    <a href="{{ url_for('main.add_legend', person_id=person.id) }}">
        Write a story about {{ person.name }}
    </a>
</div>

{% for legend in person.legends %}
<div class="legend_header">
    <a href="{{ url_for('main.legend_display', legend_id=legend.id) }}">
        {{ legend.title }}
    </a>
</div>
{% endfor %}

<a href="{{ url_for('main.ancestordisplay', person_id=person.id) }}">show
    ancestors</a>
<a href="{{ url_for('main.descendantdisplay', person_id=person.id) }}">show
    descendants</a>
<a href="{{ url_for('main.edit_person', person_id=person.id) }}">Edit</a>
<div class="danger">
    <a href="{{ url_for('main.person_delete', person_id=person.id) }}">Delete
    this relative</a>
</div>
{% endblock %}
