{% extends "base.html" %}
{% block content %}
   <div class="photo">
   <a href="{{ url_for('main.show_photo',
   photo_id=photo.id)}}" target="_blank">
   <img src="{{ url_for('main.show_photo',
   photo_id=photo.id)|thumbnail('400x400')}}"></a>
   </div>
   <div class="description">
       {{ photo.description }}
   </div>
   <div class="personlist">
       {% for person in photo.people %}
           <a href="{{ url_for('main.mypage', person_id=person.id) }}"> |
           {{ person.fullname() }}</a>
       {% endfor %}
   </div>

{% endblock %}
