{% extends "base.html" %}

{% block content %}

{% for family in families %}

    <div class="personlist">
    {% for person in family['family_members'] %}
      <div class="person">
         <img class="avatar" src="{{ url_for('main.show_photo',
         photo_id=person.ava_id)|thumbnail('200x200') }}">
         <p>{{ person.fullname() }} {{ person.years_of_life() }}</p>
      </div>
    {% endfor %}
    </div>
    <a class="clickable_family" href={{ url_for('main.thatsmyfamily',
      family_id=family['family_id'])
      }}>That's my family</a>

{% endfor %}

{% endblock %}

